<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Game Gallery</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">

    <!-- animate.css -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

    <!-- All CSS is here
	============================================ -->

    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="/assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="/assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Use the minified version files listed below for better performance and remove the files listed above 
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>





<body>
    <div class="container-fluid">
        <div class="header-large-device">
            <div class="header-top header-top-ptb-1 border-bottom-1">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="header-offer-wrap">
                            <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders over
                                <span>$199</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="header-top-right">
                            <div class="same-style-wrap">
                                <!-- <div class="same-style same-style-border track-order">
                                <a href="order-tracking.html">Track Your Order</a>
                            </div> -->
                                <!-- <div class="same-style same-style-border language-wrap">
                                <a class="language-dropdown-active" href="#">English <i class="icon-arrow-down"></i></a>
                                <div class="language-dropdown">
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </div>
                            </div> -->
                                <div class="same-style same-style-border currency-wrap">
                                    <!-- <a class=" " href="/signup" >Sign Up</a> -->

                                    <a href="/logout">Sign Out</a>


                                </div>
                            </div>
                            <div class="social-style-1 social-style-1-mrg">
                                <a href="#"><i class="icon-social-twitter"></i></a>
                                <a href="#"><i class="icon-social-facebook"></i></a>
                                <a href="#"><i class="icon-social-instagram"></i></a>
                                <a href="#"><i class="icon-social-youtube"></i></a>
                                <a href="#"><i class="icon-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><span style="color: red;
                            font-size: 34px;
                            font-weight: 500;">Game</span> <span style="font-size: 20px ;color: black;
                            font-weight: 400;">Gallery</span></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                            <nav>
                                <ul style="text-align: center;">
                                    <li><a href="/home">HOME </a>
                                      
                                    </li>
                                    <li><a href="/shop">SHOP </a>
                                     
                                    </li>
                                    <li><a href="#">PAGES</a>
                                 
                                    </li>
                                    <li><a href="blog.html">BLOG </a>
                                    
                                    </li>
                                    <li><a href="contact.html">CONTACT </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="header-action header-action-flex header-action-mrg-right">
                            <div class="same-style-2 header-search-1">
                                <a class="search-toggle" href="#">
                                    <i class="icon-magnifier s-open"></i>
                                    <i class="icon_close s-close"></i>
                                </a>
                                <div class="search-wrap-1">
                                    <form action="#">
                                        <input placeholder="Search products…" type="text">
                                        <button class="button-search"><i class="icon-magnifier"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="same-style-2">
                                <a href="/profile"><i class="icon-user"></i></a>
                            </div>
                            <div class="same-style-2">
                                <a href="/wishlist"> <i class="icon-heart"></i>
                                    <% if(locals.isLoggedIn && wishCount>0){ %>
                                        <span class="pro-count red">
                                            <%=wishCount %>
                                        </span>
                                        <% } %>
                                </a>
                            </div>
                            <div class="same-style-2 header-cart">
                                <a class="" href="/shoppingCart">
                                    <i class="icon-basket-loaded"></i>
                                    <% if(locals.isLoggedIn && cartCount>0){ %>
                                        <span class="pro-count red">
                                            <%=cartCount %>
                                        </span>
                                        <% } %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-small-device small-device-ptb-1">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a href="index.html"><span style="color: red;
                            font-size: 34px;
                            font-weight: 500;">Game</span> <span style="font-size: 20px ;color: black;
                            font-weight: 400;">Gallery</span></a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        <div class="same-style-2">
                            <a href="login-register.html"><i class="icon-user"></i></a>
                        </div>
                        <div class="same-style-2">
                            <a href="wishlist.html"> <i class="icon-heart"></i>
                                <% if(locals.isLoggedIn && wishCount>0){ %>
                                    <span class="pro-count red">
                                        <%=wishCount %>
                                    </span>
                                    <% } %>
                            </a>
                        </div>
                        <div class="same-style-2 header-cart">
                            <a class="" href="/shoppingCart">
                                <i class="icon-basket-loaded"></i>
                                <% if(locals.isLoggedIn && cartCount>0){ %>
                                    <span class="pro-count red">
                                        <%=cartCount %>
                                    </span>
                                    <% } %>
                            </a>
                        </div>
                        <div class="same-style-2 main-menu-icon">
                            <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="icon_close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Simple Black T-Shirt</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Norda Backpack</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="cart-main-area  pb-120" style="padding-top: 60px;">
            <div class="container">
              
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    
                            <div class="table-content table-responsive cart-table-content">
                                <% 
                                let totalPrice = 0;
                                let totalDiscount= 0;
                                
                                let currPrice
                                if(cartItems.length){
                                    %>


                               
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th>action</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <h3 class="cart-page-title" style="text-align: center; margin-bottom: 50px;">Your cart items</h3>
                                        <% 
                                        
                                        for(let i=0; i<cartItems.length; i++){
                                            
                                            %> 
                                          
                                            <tr>
                                                <td class="product-thumbnail">
                                                        <a href="#"><img
                                                                src="/assets/images/product/<%= cartItems[i].productId.images[0] %>"
                                                                alt="product image" class="img-fluid"
                                                                style="width: 89px;height: auto;"></a>
                                                    </td>
                                                <td class="product-name"><a href="#"><%= cartItems[i].productId.name %></a></td>
                                                
                                                <% if(cartItems[i].productId.offerPrice){
                                          
                                                    currPrice = cartItems[i].productId.offerPrice
                                                }else{
                                                    currPrice = cartItems[i].productId.price  
                                                 
                                                }
                                                %>
                                           

                                                <span style="color: red;" id="<%= cartItems[i]._id %>msg"></span>
                                                <td class="product-price-cart">
                                                    <span class="amount">  <%= cartItems[i].productId.price%></span></td>
                                                <!-- <td class="product-quantity pro-details-quality"> -->
                                                  
                                                    <!-- <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="<%=//cartItems[i].quantity  %>">
                                                    </div> -->
                                                    <td class="quantity__item">
                                                        <div class="text-nowrap">
            
                                                            <button id="<%= cartItems[i]._id %>minus"
                                                                    onclick="updateCart(-1,'<%= cartItems[i].productId._id%>','<%= cartItems[i]._id %>')">
                                                                    -
                                                            </button>
            
                                                            <span class="mx-2 quantity"  id="<%= cartItems[i]._id %>" data-max-quantity="<%= cartItems[i].productId.quantity %>">
                                                                <%= cartItems[i].quantity %>
                                                            </span>
            
                                                            <button id="<%= cartItems[i]._id %>plus"
                                                                onclick="updateCart(1,'<%= cartItems[i].productId._id%>','<%= cartItems[i]._id %>')">
                                                                +
                                                            </button>
                                                            <br>
                                                            <span style="color: red;" id="<%= cartItems[i]._id %>msg"></span>
            
                                                        </div>
                                                      
        
                                                    </td>
                                                </td>
                                                <td class="product-subtotal" id="total<%= cartItems[i]._id %>" class="cart__price">&#8377;<%= cartItems[i].productId.price*cartItems[i].quantity  %></td>
                                                <% 
                                                totalPrice += cartItems[i].productId.price*cartItems[i].quantity;                                         
                                                       if(cartItems[i].productId.offerPrice){

                                                    
                                                    totalDiscount += (cartItems[i].productId.price - cartItems[i].productId.offerPrice)*cartItems[i].quantity;

                                                }else{
                                                    totalDiscount += 0
                                                }
                                                %>
                                                <td class="product-remove" >
                                                    <form action="/shoppingCart/removeItem/<%= cartItems[i].productId._id %>" method="post">
                                         <button type="submit"><i class="icon_close" ></i></button> 
                                                </form>
                                                </td>
                                            </tr>
                                            
                                            <%  
                                        }

                                        %>
                                        

                                 <%
                                }else{ %>

<tr>
    <td>
    <td>
        <h3 class=" animate__animated animate__fadeInLeft">
            <strong>Your cart is empty</strong> </h3>
        <img src="assets/gif/empty-cart.gif"
            class="img-fluid animate__animated animate__fadeInRight"
            style="width: 372px; height: auto;"
            alt="Cart Empty Image">
    </td>

</td>

<% } %>
  
                                        <!-- <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Norda Simple Backpack</a></td>
                                            <td class="product-price-cart"><span class="amount">$150.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$150.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name"><a href="#">Simple Black T-Shirt </a></td>
                                            <td class="product-price-cart"><span class="amount">$170.00</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">$170.00</td>
                                            <td class="product-remove">
                                                <a href="#"><i class="icon_close"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper" style="justify-content: end;">
                                        <div class="cart-shiping-update">
                                            <a href="/shop">Continue Shopping</a>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                  
                        <div class="row">
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-12 col-md-12">
    <div class="grand-totall">
        <div class="title-wrap">
            <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
        </div>
        <% if (cartItems.length > 0) { %>
            <h5 style="display: flex; justify-content: space-between;">Total price <span id="totalPrice">&#8377; <%= totalPrice %></span></h5>
            <h5 style="display: flex; justify-content: space-between;">Offer Discount <span id="totalDiscount">&#8377; <%= totalDiscount %></span></h5>
            <div class="total-shipping">
                <!-- <h5>Total shipping</h5>
                <ul>
                    <li><input type="checkbox"> Standard <span>$20.00</span></li>
                    <li><input type="checkbox"> Express <span>$30.00</span></li>
                </ul>
            </div> -->
            <h4 class="grand-totall-title" style="display: flex; justify-content: space-between;">Grand Total <span id="amount">&#8377; <%= totalPrice - totalDiscount %></span></h4>
            <div class="row" style="justify-content: center;">
                <div class="col-lg-4">
                    <a href="/shoppingCart/proceedToCheckout">Proceed to Checkout</a>
                </div>
            </div>
    
    </div>
</div>
<% } else { %>
            <h5>You Need Order First</h5>
        <% } %>

                    </div>
                </div>
            </div>
        </div>
       

     

        <script>
            function updateCart(operation, prodId, spanID) {
                let quantity = document.getElementById(spanID)
                let parsedQuantity = parseInt(quantity.innerText)
        
                let minQuantity = 1;
                let maxQuantity = parseInt(quantity.dataset.maxQuantity);
        
                maxQuantity = Math.min(maxQuantity, 10);
        
                if (operation == 1 && parsedQuantity < maxQuantity) {
                    parsedQuantity++
                } else if (operation == -1 && parsedQuantity > 1) {
                    parsedQuantity--
                }
                quantity.innerText = parsedQuantity
                
                ajaxConnection(parsedQuantity, prodId, spanID)
        
                //btn dis
                var plusBtn = document.getElementById(`${spanID}plus`)
                var minusBtn = document.getElementById(`${spanID}minus`)
                plusBtn.disabled = true
                minusBtn.disabled = true
        
                if (!parsedQuantity === 1) {
                    plusBtn.disabled = true;
                } else {
                    plusBtn.disabled = false;
                }
        
                if (!parsedQuantity == 10 || !parsedQuantity == maxQuantity) {
                    minusBtn.disabled = true;
                } else {
                    minusBtn.disabled = false;
                }
                //making error msg
        
                let messageElement = document.getElementById(`${spanID}msg`);
        
        
                if (parsedQuantity == 10) {
                    messageElement.innerText = "Max quantity reached";
                } else if (parsedQuantity == maxQuantity) {
                    messageElement.innerText = "Stock limit reached"; 
                } else {
                    messageElement.innerText = ""
                }
            }
        
        
            //ajax
            function ajaxConnection(amt, prodId, spanID) {
                $.ajax({
                    method: 'put',
                    url: '/updateCart',
                    data: { amt, prodId },
                    success: (res) => {
                        if (res.status == true) {
            
                            $(`#total${spanID}`).html(`₹${res.data.totalSingle}`)
                            $(`#totalPrice`).html(`₹${res.data.totalPrice}`)
                            // $(`#GrandTotal`).html(`₹${res.data.totalPrice}`)
                            
                            $(`#totalDiscount`).html(`₹${res.data.totalDiscount}`)
                       
                            $(`#amount`).html(`₹${res.data.totalPrice - res.data.totalDiscount}`)
        
                            document.getElementById(`${spanID}plus`).disabled = false
                            document.getElementById(`${spanID}minus`).disabled = false
        
                        } else if (res.status == false) {
                            $(`#${spanID}msg`).html(res.data)
                        }
                    }
                })
            }
        </script>

        <%- include('../partials/script.ejs') %>